/* CSS Reset */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body 
{
    height: 100vh;
    width: 100vw;
}

/* Main Body */
#container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
  
}

/* Left Section */
#about-me-spine
{
    width: 80px;
    height: 100vh;
}

/* Right Sections */
#section-container
{
    display: flex;
    justify-content: end;
    
}

.section
{
    width: 80px;
    height: 100vh;
}
