/* CSS Reset */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body 
{
    height: 100vh;
    width: 100vw;
}

/* Main Body */
#container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
  
}

/* Left Section */
.about-me-spine
{
    width: 80px;
    height: 100vh;
}

/* Right Sections */
#section-container
{
    display: flex;
    justify-content: end;

    width: 100vw;
    
}

/* All Sections Animations */
.section
{
    width: 80px;
    height: 100vh;

    background-color: #fce4ec;
    transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1); 
    transform: translateX(0);

    overflow: hidden; 
    flex-shrink: 0; /* prevents it from shrinking when closed*/
}

.section.open
{
    width: 100%;
}
